/**
 * Github theme by Avi Aryan
 * http://aviaryan.github.io
 */

.syntaxhighlighter textarea {
  border: 0.7em !important;
  overflow: hidden !important;
  margin: 2em 0 2em 0 !important;
  padding: 1em !important;
  vertical-align: middle !important;
  font-size: 0.9em !important;
}

.syntaxhighlighter {
  background-color: #FFFFFF !important;
  overflow: hidden !important;
   margin: 1em 0 1em 0 !important;
  position: relative !important;
  font-size: 0.9em !important;
}
.syntaxhighlighter .line.alt1 {
  background-color: #FFFFFF !important;
}
.syntaxhighlighter .line.alt2 {
  background-color: #FFFFFF !important;
}
.syntaxhighlighter .line.highlighted.alt1, .syntaxhighlighter .line.highlighted.alt2 {
  background-color: #2c2c29 !important;
}
.syntaxhighlighter .line.highlighted.number {
  color: white !important;
}
.syntaxhighlighter table caption {
  color: white !important;
}
.syntaxhighlighter .gutter {
  color: #afafaf !important;
}
.syntaxhighlighter .gutter .line {
  border-right: 1px solid #999988 !important;        /* TWEAK - 1 px border gutter width */
}
.syntaxhighlighter .gutter .line.highlighted {
  background-color: #999988 !important;
  color: #121212 !important;
}
.syntaxhighlighter.printing .line .content {
  border: none !important;
}
.syntaxhighlighter.collapsed {
  overflow: visible !important;
}
.syntaxhighlighter.collapsed .toolbar {
  color: #3185b9 !important;
  background: black !important;
  border: 1px solid #3185b9 !important;
}
.syntaxhighlighter.collapsed .toolbar a {
  color: #3185b9 !important;
}
.syntaxhighlighter.collapsed .toolbar a:hover {
  color: #d01d33 !important;
}
.syntaxhighlighter .toolbar {
  color: white !important;
  background: #3185b9 !important;
  border: none !important;
}
.syntaxhighlighter .toolbar a {
  color: white !important;
}
.syntaxhighlighter .toolbar a:hover {
  color: #96daff !important;
}
.syntaxhighlighter .plain, .syntaxhighlighter .plain a {
  color: #333333 !important;
}
.syntaxhighlighter .comments, .syntaxhighlighter .comments a {
  color: #999988 !important; font-style: italic;
}
.syntaxhighlighter .string, .syntaxhighlighter .string a {
  color: #e3118f !important;
}
.syntaxhighlighter .keyword {
  color: #00a4db /* #d01d33 */ !important;
}
.syntaxhighlighter .preprocessor {
  color: #333333 !important;
}
.syntaxhighlighter .variable {
  color: #36acaa !important;
}
.syntaxhighlighter .value {
  color: #009900 !important;
}
.syntaxhighlighter .functions {
  color: #9a050f /*aaaaaa*/ !important;
}
.syntaxhighlighter .udfunctions {
  color: #9a050f !important; font-weight: bold !important;
}
.syntaxhighlighter .labels {
  color: #9a050f !important; font-weight: bold !important;
}
.syntaxhighlighter .numbers {
  color:#36acaa !important;
}
.syntaxhighlighter .constants {
  color: #00a4db !important;
}
.syntaxhighlighter .script {
  font-weight: normal !important;
  color: #d01d33 !important;
  background-color: none !important;
}
.syntaxhighlighter .color1, .syntaxhighlighter .color1 a {
  color: #ffc074 !important;
}
.syntaxhighlighter .color2, .syntaxhighlighter .color2 a {
  color: #4a8cdb !important;
}
.syntaxhighlighter .color3, .syntaxhighlighter .color3 a {
  color: #96daff !important;
}

.syntaxhighlighter .comments, .syntaxhighlighter .comments a {
  font-style: italic !important;
}